# Environments
venv/
.env

# Data
data/
*.csv

# Models (only check in the distributed .onnx file explicitly)
models/*.h5
models/*.pth
models/*.pt

# Python
__pycache__/
*.pyc
*.pyo

# Windows Explorer artifacts
desktop.ini
Thumbs.db

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
